$sunnyHighColor : #FEC390;
$sunnyLowColor : #FDB28F;

$rainyHighColor : #7FADC1;
$rainyLowColor : #7695AF;

$stormyHightColor : #937F9F;
$stormyLowColor : #7470A2;

$textWhite : #FFFFFF;
$textGray : #9DAABE;
$textRed : #ff1a1a;

$lightShadow : #e6e6e6;
